<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:fragment="footer">
  <footer>
    <div class="container">
      <div class="col-md-4">
        <h6>Text Widget</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
          Quisque mauris auguentum vitae.
        </p>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 res-margin">
        <ul class="list-unstyled footer-icons">
          <li><i class="fa fa-phone"></i>(000) 000-000</li>
          <li><i class="fa fa-envelope"></i>Email: <a href="mailto:your@email.com">site@email.com</a></li>
          <li><i class="fa fa-map-marker"></i>123 Anywhere Street,London</li>
          <li><i class="fa fa-clock-o"></i>Mon - Fri from 08:00 AM to 19:00 PM</li>
        </ul>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 text-center">
        <!-- Footer logo -->
        <img src="img/logo.png" alt="" class="center-block img-responsive">
        <!--Social icons -->
        <div class="social-media smaller">
          <a href="https://twitter.com" title=""><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com" title=""><i class="fa fa-facebook"></i></a>
          <a href="https://www.linkedin.com" title=""><i class="fa fa-linkedin"></i></a>
          <a href="https://pl.pinterest.com" title=""><i class="fa fa-pinterest"></i></a>
          <a href="https://www.instagram.com/" title=""><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <!-- Credits-->
      <div class="credits col-md-12 text-center">
        <hr/>
        Copyright © 2021 - Designed by <a href="">Rav</a>
        <!-- Go To Top Link -->
        <div class="page-scroll hidden-sm hidden-xs">
          <a href="#page-top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
      <!-- /credits -->
    </div>
    <!-- /.container -->
  </footer>
</th:block>
</body>
</html>
