<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:fragment="intro">
  <section id="intro" class="container-fluid bg-lightcolor2 nobg-small">
    <div class="col-md-12 text-center">
      <div class="col-md-6 col-md-offset-5 col-lg-7 col-lg-offset-4">
        <h1>Welcome</h1>
        <h3>INSTANTLY BOOK SALONS AND SPAS NEARBY
        </h3>
        <a class="btn btn-primary" href="contact.html">Discover venues near me</a>
      </div>
    </div>
  </section>
</th:block>

</body>
</html>
