<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <th:block th:fragment="style">
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
        <link th:href="@{/fonts/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
        <link th:href="@{/fonts/glyphicons/bootstrap-glyphicons.css}" rel="stylesheet" />
        <link th:href="@{/fonts/flaticons/flaticon.css}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link th:href="@{/css/plugins.css}" rel="stylesheet" />
        <link th:href="@{/styles/classypurple.css}" rel="stylesheet" />
        <link th:href="@{/css/favicon.ico}" rel="shortcut icon" type="image/x-icon"/>
    </th:block>
</head>
<body>


</body>
</html>
